[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "packages/flymake-cursor"]
	path = packages/flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit
[submodule "packages/browse-kill-ring"]
	path = packages/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring
[submodule "packages/multiple-cursors"]
	path = packages/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "packages/expand-region"]
	path = packages/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "packages/google-contacts"]
	path = packages/google-contacts
	url = http://git.naquadah.org/git/google-contacts.el.git
[submodule "packages/emacs-jedi"]
	path = packages/emacs-jedi
	url = https://github.com/tkf/emacs-jedi
[submodule "packages/emacs-epc"]
	path = packages/emacs-epc
	url = https://github.com/kiwanami/emacs-epc
[submodule "emacs-deferred"]
	path = packages/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "packages/emacs-ctable"]
	path = packages/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "packages/popup-el"]
	path = packages/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "packages/emacs-flymake"]
	path = packages/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
[submodule "packages/markit"]
	path = packages/markit
	url = https://github.com/daimrod/markit
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/emacs-git-gutter"]
	path = packages/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
